* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100dvh;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  position: fixed;
  top: 5vmin;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  position: relative;
  gap: 4vmin;
  width: 50vmin;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: blueviolet;
  width: 100%;
  height: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #555;
  border-radius: 100%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #555;
  border-radius: 100%;
  cursor: pointer;
}

.output {
  position: absolute;
  top: -7vmin;
  left: 50%;
  font-size: 3vmin;
  transform: translateX(-50%);
  background-color: white;
  width: 20%;
  text-align: center;
  box-shadow: 0px 0px 5px #000000aa;
}
